services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    platform: linux/amd64
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - airflow
      - default
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: unless-stopped
  
  minio-mc:
    image: minio/mc:latest
    platform: linux/amd64
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set myminio http://minio:9000 minioadmin minioadmin;
      mc mb myminio/mlflow-artifacts || true;
      mc anonymous set public myminio/mlflow-artifacts;
      exit 0;
      "
    networks:
      - airflow
      - default
    restart: "no"
  
  mlflow:
    image: python:3.11-slim
    platform: linux/amd64
    command: >
      bash -c "
      pip install mlflow==2.9.2 psycopg2-binary boto3 && 
      export MLFLOW_S3_ENDPOINT_URL=http://minio:9000 &&
      mlflow server --host 0.0.0.0 --port 5000 
      --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow 
      --default-artifact-root s3://mlflow-artifacts/
      --serve-artifacts;"
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      ARTIFACT_ROOT: http://minio:9000/mlflow-artifacts
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    ports:
      - "5000:5000"
      - "5001:5001"
    depends_on:
      - mlflow-db
      - minio
    networks:
      - airflow
      - default
    restart: unless-stopped

  mlflow-db:
    image: postgres:16-alpine
    platform: linux/amd64
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflow
    volumes:
      - mlflow-db-volume:/var/lib/postgresql/data
    networks:
      - airflow
      - default
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "mlflow"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

# Volumes: section in Docker Compose defines persistent storage for your services
# Containers are ephemeral by default — if they restart or get recreated, all internal files are lost.
# Volumes solve that problem.
volumes:
  minio_data:
  mlflow-db-volume:

# Networks:
# ✔ allow containers to Discover each other by service name
# ✔ allow containers to Communicate securely (no exposure to entire host)
# ✔ allow containers to Control which services can talk to which
# Here To connect MLflow/MinIO/Postgres with your existing Airflow environment
networks:
  airflow:
    external: true
    name: sales-forecasting_ca7e56_airflow
  default:
    name: sales-forecasting_ca7e56_default